header {
    height: 50px;
    background: ;
}

body{
    color: #cccccc;
}

main {
    margin: 10px 10px 10px 100px;
}

section {
}

.favorite {
  color: orange;
}

.boo {
  color: blue;
}

#name {
}